body {
    color: #202020;
    overflow-x: hidden;
}

::selection {
	background: #101010;
	color: #eeeeee;
}

@media (win-width:500px) {
	.container {
		width: 100%;
	}
}

section {
    padding-top: 2em;
}

#header {
	padding-top: 0;
}

#header-top {
	background: #323031;
	color: #eee;
	margin: 0 calc(-50vw + 50%);
	padding: 1em;
	box-shadow: 0px 2px 10px lightgray;
}

#name {
    padding-top: 5px;
}

#name,#contact {
    text-align: center;
}

#avatar {
    text-align: center;
    clip-path:
}

#avatar img {
	height: 200px;
	clip-path: circle(100px at center)
}

#short-bio {
    padding-top: 2em;
}

#last-updated {
    font-size: 0.8em;
    text-align: center;
}

a {
    color: #0030ff;
}
