body {
    color: #202020;
    overflow-x: hidden;
    padding-bottom: 2em;
}

::selection {
	background: #101010;
	color: #eeeeee;
}

@media (win-width:500px) {
	.container {
		width: 100%;
	}
}

section {
    padding-top: 2em;
}

nav {
	text-align: center;
	margin-top: 1.2em;
}

#header {
	padding-top: 0;
}

#header-top {
	background: #161616;
	color: #eee;
	margin: 0 calc(-50vw + 50%);
	padding: 1em;
	box-shadow: 0px 2px 10px lightgray;
}

#name {
    padding-top: 5px;
}

#name,#contact {
    text-align: center;
}

#avatar {
    text-align: center;
    clip-path:
}

#avatar img {
	height: 200px;
	clip-path: circle(100px at center)
}

#short-bio {
    padding-top: 2em;
}

#last-updated {
    font-size: 0.8em;
    text-align: center;
}

a {
    color: #0030ff;
}

nav a {
	font-size: 1.2em;
	color: #eeeeee;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: underline;
	text-decoration-style: dashed;
}

details {
	margin-bottom: 0.5em;
}

.abstract {
	padding-left: 3em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.wrapper {
	display: flex;
}

.upcoming {
	order: 2;
	padding-left: 5%;
	font-size: 90%;
	line-height: 1;
	max-width: 30%;
	padding-top: 5em;
}

.upcoming h2 {
	font-size: 120%;
	font-weight: 600;
}

.main {
	flex: 2 0px;
}


.cv p {
	margin-bottom: 0.5em;
	line-height: 110%;
}

.cv h2 {
	margin-top: 1em;
}

.cv .data {
	font-weight: 600;
}

td {
	border: none;
	padding: 0;
	padding-bottom: 0.2em;
	line-height: 110%;
}
