body {
    color: #202020;
}

@media (win-width:500px) {
	.container {
		width: 100%;
	}
}

section {
    padding-top: 2em;
}

#name,#contact {
    text-align: center;
}

#short-bio {
    padding-top: 2em;
}

#last-updated {
    font-size: 0.8em;
    text-align: center;
}

a {
    color: #0030ff;
}
