body {
	margin: 0px;
	background-color: #f7f3d0;
}

@media print {
	#contact, nav {
		display: none;
	}
}

#blocks { 
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	font-family: "Jost*", 'Jost', sans-serif;
}

#sidebar {
	display: flex;
	flex-direction: column;
}

#nav-links {
	display: flex;
	flex-direction: row;
	padding: 1em;
}

nav {
	font-size: larger;
}

nav div {
	margin-bottom: 0.3em;
}


h1 {
	margin: 0;
	padding: 0;
	writing-mode: sideways-lr;
	font-size: 4rem;
	font-weight: normal;
	min-width: 1.5em;
	color: #505050;
	white-space: nowrap;
}

h1 a {
	text-decoration: none;
	color: black;
}

nav a {
	color: #4d4d4d;
}

h2 {
	font-family: 'Jost*','Jost', sans-serif;
	font-weight: normal;
}

#contact {
	padding: 5em 2.5em;
}

#content {
	width:78ch;
	hyphens: auto;
	text-align: justify;
	padding-left: 1em;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 12pt;
}

details {
	margin-bottom:0.5em;
}

details .abstract {
	font-size: 90%;
	padding: 1em;
}

.dated-list {
	display: flex;
	flex-direction: column;
}

.dated-li {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.dated-li-date {
	width: 25ch;
	font-size: 90%;
}

.dated-li-details {
	width: 70ch;
}

.li-extra-info {
	font-size: 90%;
}

#teaching-list li {
	margin-bottom: 0.5em;
}

#image-self {
	position: absolute;
	bottom: -1;
	right: -1;
}

.multicol {
	columns: 3;
	column-width: 70ch;
}

.wk-wrapper {
	background: #ffe9aa;
	padding: 1em;
	font-family: 'Jost', sans-serif;
}

.wk-wrapper img {
	width: 100%;
}

.wk-wrapper h2 {
	font-weight: 500;
}

.wk-afil {
	font-size: 90%;
	color: #505050;
}

.wk-date {
	margin-bottom: 1em;
}
