<html>
	<head>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body style='margin:0px; background-color: #f7f3d0'>
		<div style='display:flex;  flex-direction: row; align-items: flex-start; font-family: "Jost*", sans-serif'>
			<div style='display: flex; flex-direction: column;'>
				<div id='sidebar' style='display: flex; flex-direction: row; padding: 1em;'>
					<div style=''>
						<div id='name' style='writing-mode: sideways-lr; font-size: 4rem; min-width: 1.5em; color: #505050;'>Felipe Morales Carbonell</div>
					</div>
					<nav style='font-size: larger;'>
						<div><a href="index.html">Home</a></div>
						<div><a href="research.html">Research</a></div>
						<div><a href="talks.html">Talks</a></div>
						<div><a href="teaching.html">Teaching</a></div>
						<div><a href="cv.html">CV</a></div>
						<div><a href="https://fmoralesc.mataroa.blog/">Blog</a></div>
					</nav>
				</div>
				<div id="contact" style='padding: 5em 2.5em'>
					<div><i class="far fa-envelope"></i> <a href="mailto:ef.em.carbonell@gmail.com">email</a></div>
					<div><i class="fab fa-mastodon"></i> <a rel="me" href="https://scholar.social/@okf">mastodon</a></div>
					<div id='gh-link'><i class="fab fa-github"></i> <a href="https://github.com/fmoralesc">github</a></div>
				</div>
			</div>
			<div id='content' lang='en' style='width:78ch; hyphens: auto; text-align: justify; padding-left: 1em; font-family: "Adobe Caslon Pro", serif; font-size: 12pt;'>
			{{ content }}
			</div>
		</div>
	</body>
</html>
