<html>
	<head>
		<title>Felipe Morales Carbonell - {{page.title}}</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="https://unpkg.com/normalize.css">
		<link rel="stylesheet" href="/css/site.css">
	</head>
	<body>
		<div id="blocks">
			<div id="sidebar">
				<div id='nav-links'>
					<div>
						<h1 id='name'><a href='/index.html'>Felipe Morales Carbonell</a></h1>
					</div>
					<nav>
						<div><a href="/index">Home</a></div>
						<div><a href="/research">Research</a></div>
						<div><a href="/talks">Talks</a></div>
						<div><a href="/teaching">Teaching</a></div>
						<div><a href="/cv">CV</a> <a href="/cv.es.html">(es)</a></div>
						<div class="minor-nav"><a href="/libro-como">🕮: ¿Cómo?</a></div>
						<div class="minor-nav"><a href="/workshop-2024">Workshop</a></div>
						<div class="minor-nav"><a href="/grupo-de-lectura-2024">Grupos de lectura</a></div>
						<div><a href="/blog">Blog</a></div>
					</nav>
				</div>
				<div id="contact">
					<div><i class="far fa-envelope"></i> <a href="mailto:ef.em.carbonell@gmail.com">email</a></div>
					<div><i class="fab fa-mastodon"></i> <a rel="me" href="https://scholar.social/@okf">mastodon</a></div>
					<div id='gh-link'><i class="fab fa-github"></i> <a href="https://github.com/fmoralesc">github</a></div>
				</div>
			</div>
			<div id='content' lang='en'>
			{{ content }}
			</div>
		</div>
	</body>
</html>
